node_modules
/playwright-report/
/playwright/.cache/
/blob-report/
**/test-results/
cypress
coverage
dist
build
public

*.local
.*cache
*.config.js
*.config.cjs
*.config.mjs

.git
.changeset
.astro
.vscode
.next
.husky
.DS_Store

package-lock.json
pnpm-lock.yaml
yarn.lock

